.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
  background-color:#f1f1f1;
}
.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;

}

@media (min-width: 500px){

  body{
    with: 80%;
    bodywidth:10%;
    background_colour: blue;
  }
}
@media (max-width: 499px){

  body{
    with: 60%;
    bodywidth:80%;
    background-color: green;
  }
}
#background_colour {background-color:#f1f1f1;}
